.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border: 1.5px solid #736f6f;
  border-radius: 9px;
  padding: 10px;
}
#btn1 {
  margin-left: 10px;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10px;
  color: #214fd6;
}
h3, p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
